*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background-color: rgb(37, 50, 73);
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    padding: 20px;
    background-color: gray;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 60px;
}


h2{
    margin: 30px;
}

.projects{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
}

.projects div{
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 8px 0;
    margin-right: 15px;
    margin-bottom: 25px;
    transition: all 0.2s ease-in-out;
}
#first-project{
    width: 500px;
}
.projects div img{
    width: 100%;
    max-height: 200px;
}
.projects div caption{
    text-align: center;
    padding: 10px 20px;
}

.projects div:hover{
    transform: scale(1.04);
}

.contact ul li{
    display: inline-block;
    margin: 20px;
}