*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

body {
    background-color: rgb(37, 50, 73);
}

.header {
    padding: 20px;
    background-color: gray;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 24px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 60px;
}



.projects{
}

.projects div{
    width: 500px;
    background-color: white;
    box-shadow: 0 2px 8px 0;
    margin-bottom: 25px;
    transition: all 0.2s ease-in-out;
}
.projects div img{
    width: 100%;
}
.caption{
    text-align: center;
    padding: 10px 20px;
}

.projects div:hover{
    transform: scale(1.04);
}

.contact ul li{
    display: inline-block;
    margin: 20px;
}